<h1>Articles listing page</h1>

<table>
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td> <%= article.id %> </td>
                <td> <%= article.title %> </td>
                <td> <%= article.description %> </td>
                <td> <%= show_article_created_at(article) %> </td>
                <td>
                   <button>Placeholder</button>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
